/* default */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Nokia Pure Headline Light";
  src: url("NokiaPureHeadline_Lt.ttf");
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Nokia Pure Text";
  src: url("NokiaPureText_Rg.ttf");
}

*, input[type=text] {
  font-family: "Nokia Pure Text", sans-serif;
}

.has-text-fira-code {
  font-family: "Fira Code", monospace;
}

#title {
  font-family: "Nokia Pure Headline Light", sans-serif;
}

table {
  font-size: 14px;
}

.has-header-img {
  background: url(../images/curls.jpg)center center;
  background-size: cover;
}

.main-page {
  margin-top: 52px;
}

.scroll-mt {
  scroll-margin-top: 80px;
}

.dropdown-content {
  width: fit-content;
  max-height: 200px;
  overflow: auto;
}

.menu .level-item, .service-item {
  font-family: "Fira Code", monospace;
}

.menu .level-item, .component-section {
  font-size: 13px;
}

.badge {
  width: 30px;
}

.is-sticky-left {
  left: 0;
  z-index: 5;
  float: left;
  position: fixed;
  width: fit-content;
}

.menu-container {
  max-height: calc(100vh - 180px);
  overflow: auto;
}

.indent-4 {
  text-indent: 2em;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
 background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
 background: #bec4c4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}