@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .has-header-img {
    background: url(/images/mountains.jpg)center center;
    background-size: cover;
  }
  
  .has-perfect-white {
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }
}